{% extends "hypergrass/base.html" %}
{%  load static %}

{% block content %}
    <div class="article-content">
    <h1>Hyper4Grass</h1>
        <p>Hyper4Grass provides ultra-precise information for the monitoring of grass traits such as protein and fiber content. Our service for collecting high resolution in the field is supported by a combination of sensors that collect RGB, near-infrared, and hyperspectral data in a single flight. Our information service helps farmers to determine the optimal time for mowing.</p>
    </div>
{% endblock %}


