{% extends "hypergrass/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <h1>Access your Account</h1>
        <form class="site-form" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign In</button>
            </div>
        </form>
    <div>
        <small class="text-muted">
            Need an Account? <a class="ml-2" href="{% url 'users:singup' %}">Sign Up</a>
        </small>
    </div>
{% endblock %}